[submodule "external/neo"]
	path = external/neo
	url = https://github.com/neo-project/neo.git
[submodule "external/neo-devpack-dotnet"]
	path = external/neo-devpack-dotnet
	url = https://github.com/neo-project/neo-devpack-dotnet.git
[submodule "external/neo-zkvm"]
	path = external/neo-zkvm
	url = https://github.com/r3e-network/neo-zkvm.git
[submodule "external/neo-riscv-vm"]
	path = external/neo-riscv-vm
	url = https://github.com/r3e-network/neo-riscv-vm.git
