[submodule "external/neo"]
	path = external/neo
	url = https://github.com/r3e-network/neo.git
	branch = r3e/neo-n4-core
[submodule "external/neo-devpack-dotnet"]
	path = external/neo-devpack-dotnet
	url = https://github.com/r3e-network/neo-devpack-dotnet.git
[submodule "external/neo-zkvm"]
	path = external/neo-zkvm
	url = https://github.com/r3e-network/neo-zkvm.git
[submodule "external/neo-riscv-vm"]
	path = external/neo-riscv-vm
	url = https://github.com/r3e-network/neo-riscv-vm.git
[submodule "external/neo-vm-rs"]
	path = external/neo-vm-rs
	url = https://github.com/r3e-network/neo-vm-rs.git
